<app-user-form (userAddedEvent) = "addUser($event)"></app-user-form>
<app-spinner [visible] = "isLoading"></app-spinner>
<div>
  <h3>Users list:</h3>
  <ul class="list-group users">
    <li class="list-group-item" *ngFor = "let user of users" 
    [class.active]="currentUser == user"
    (click)="select(user)"
    class = "list-group-item" >
    <app-user [user] = "user"
    (deleteEvent) = "deleteUser($event)"></app-user>           
    </li>
  </ul>
</div>