<h1>
  {{title}}
</h1>
<!--app-users></app-users-->
<!--app-demo></app-demo-->
<!--app-posts></app-posts-->

<nav>
  <a routerLink = "/users">Users</a> |
  <a routerLink = "/posts">Posts</a>
</nav>

<router-outlet></router-outlet>